In [2]:
# 1: Load the data set.

import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\alexa\OneDrive\Documents\Babson\Advanced_Programming\OIM7502_SP25\data\Wage.csv")

In [6]:
# 2: Display fist 10 rows

print(df.head(10))

   year  age            maritl      race        education              region  \
0  2006   18  1. Never Married  1. White     1. < HS Grad  2. Middle Atlantic
1  2004   24  1. Never Married  1. White  4. College Grad  2. Middle Atlantic
2  2003   45        2. Married  1. White  3. Some College  2. Middle Atlantic
3  2003   43        2. Married  3. Asian  4. College Grad  2. Middle Atlantic
4  2005   50       4. Divorced  1. White       2. HS Grad  2. Middle Atlantic
5  2008   54        2. Married  1. White  4. College Grad  2. Middle Atlantic
6  2009   44        2. Married  4. Other  3. Some College  2. Middle Atlantic
7  2008   30  1. Never Married  3. Asian  3. Some College  2. Middle Atlantic
8  2006   41  1. Never Married  2. Black  3. Some College  2. Middle Atlantic
9  2004   52        2. Married  1. White       2. HS Grad  2. Middle Atlantic

         jobclass          health health_ins   logwage        wage
0   1. Industrial       1. <=Good      2. No  4.318063   75.043154
1  2. Information  2. >=Very Good      2. No  4.255273   70.476020
2   1. Industrial       1. <=Good     1. Yes  4.875061  130.982177
3  2. Information  2. >=Very Good     1. Yes  5.041393  154.685293
4  2. Information       1. <=Good     1. Yes  4.318063   75.043154
5  2. Information  2. >=Very Good     1. Yes  4.845098  127.115744
6   1. Industrial  2. >=Very Good     1. Yes  5.133021  169.528538
7  2. Information       1. <=Good     1. Yes  4.716003  111.720849
8  2. Information  2. >=Very Good     1. Yes  4.778151  118.884359
9  2. Information  2. >=Very Good     1. Yes  4.857332  128.680488

In [7]:
#3: Display last 10 rows

print(df.tail(10))

      year  age            maritl      race        education  \
2990  2009   50        2. Married  2. Black       2. HS Grad
2991  2003   26  1. Never Married  2. Black  3. Some College
2992  2007   35        2. Married  1. White     1. < HS Grad
2993  2006   31        2. Married  1. White       2. HS Grad
2994  2009   31        2. Married  1. White  4. College Grad
2995  2008   44        2. Married  1. White  3. Some College
2996  2007   30        2. Married  1. White       2. HS Grad
2997  2005   27        2. Married  2. Black     1. < HS Grad
2998  2005   27  1. Never Married  1. White  3. Some College
2999  2009   55      5. Separated  1. White       2. HS Grad

                  region        jobclass          health health_ins   logwage  \
2990  2. Middle Atlantic   1. Industrial  2. >=Very Good      2. No  4.886491
2991  2. Middle Atlantic   1. Industrial  2. >=Very Good      2. No  4.778151
2992  2. Middle Atlantic   1. Industrial       1. <=Good      2. No  4.698970
2993  2. Middle Atlantic  2. Information  2. >=Very Good     1. Yes  4.633468
2994  2. Middle Atlantic  2. Information  2. >=Very Good     1. Yes  4.893207
2995  2. Middle Atlantic   1. Industrial  2. >=Very Good     1. Yes  5.041393
2996  2. Middle Atlantic   1. Industrial  2. >=Very Good      2. No  4.602060
2997  2. Middle Atlantic   1. Industrial       1. <=Good      2. No  4.193125
2998  2. Middle Atlantic   1. Industrial  2. >=Very Good     1. Yes  4.477121
2999  2. Middle Atlantic   1. Industrial       1. <=Good     1. Yes  4.505150

            wage
2990  132.487821
2991  118.884359
2992  109.833986
2993  102.870247
2994  133.380608
2995  154.685293
2996   99.689464
2997   66.229408
2998   87.981033
2999   90.481913

In [8]:
# 4: How many rows?

number_rows = df.shape[0]
print(number_rows)

3000

In [9]:
# 5: Meta data

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3000 non-null   int64
 1   age         3000 non-null   int64
 2   maritl      3000 non-null   object
 3   race        3000 non-null   object
 4   education   3000 non-null   object
 5   region      3000 non-null   object
 6   jobclass    3000 non-null   object
 7   health      3000 non-null   object
 8   health_ins  3000 non-null   object
 9   logwage     3000 non-null   float64
 10  wage        3000 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 257.9+ KB
None

In [12]:
# 6: Data types of 2 columns

print(df[['year','age']].dtypes)

year    int64
age     int64
dtype: object

In [13]:
# 7: Column names

print(df.columns)

Index(['year', 'age', 'maritl', 'race', 'education', 'region', 'jobclass',
       'health', 'health_ins', 'logwage', 'wage'],
      dtype='object')

In [14]:
# 8: Index

print(df.index)

RangeIndex(start=0, stop=3000, step=1)

In [16]:
# 9: Ind elements

print(df.size)

33000

In [21]:
# 10: How many columns/rows?

columns = df.shape[1]
print(f"number of columns: {columns}")

rows = df.shape[0]
print(f"number of rows: {rows}")

number of columns: 11
number of rows: 3000

In [22]:
# 11: Stats for wage and age.

print(df[['wage','age']].describe())

              wage          age
count  3000.000000  3000.000000
mean    111.703608    42.414667
std      41.728595    11.542406
min      20.085537    18.000000
25%      85.383940    33.750000
50%     104.921507    42.000000
75%     128.680488    51.000000
max     318.342430    80.000000

In [24]:
# 12: Stats grouped by race

print(df.groupby('race')[['wage','age']].describe())

            wage                                                           \
           count        mean        std        min        25%         50%
race
1. White  2480.0  112.563666  41.733830  20.085537  86.695155  106.348256
2. Black   293.0  101.601177  37.162486  23.274704  81.283253   94.072715
3. Asian   190.0  120.288288  46.422514  34.607418  87.981033  115.375039
4. Other    37.0   89.973326  29.153530  38.223583  71.319639   81.283253

                                     age                                     \
                 75%         max   count       mean        std   min    25%
race
1. White  130.042934  314.329336  2480.0  42.394758  11.365655  18.0  34.00
2. Black  117.146817  318.342430   293.0  43.563140  13.012913  18.0  33.00
3. Asian  144.828129  299.262977   190.0  41.821053  11.218823  22.0  32.25
4. Other  104.921507  169.528538    37.0  37.702703  11.553895  21.0  28.00


           50%   75%   max
race
1. White  42.0  51.0  80.0
2. Black  44.0  52.0  75.0
3. Asian  40.0  50.0  76.0
4. Other  39.0  47.0  65.0

In [ ]:
# 13: Mean/Median

# the mean is the average of the data and median is the middle data point when all points are listed in order.
# when these numbers are similar, it means that data is close to symmetrical and has a normal distribution of a bell curve.

In [27]:
# 14: age and wage

print(df[['age', 'wage']])

      age        wage
0      18   75.043154
1      24   70.476020
2      45  130.982177
3      43  154.685293
4      50   75.043154
...   ...         ...
2995   44  154.685293
2996   30   99.689464
2997   27   66.229408
2998   27   87.981033
2999   55   90.481913

[3000 rows x 2 columns]

In [28]:
# 15: age/wage correleated

print(df['age'].corr(df['wage']))

0.1956372015635887

In [ ]:
# with a correlation coefficient closer to 0 than 1, there is little correlation between age and wage.

In [32]:
#16: top 10 wage/salary

print(df.nlargest(10,'wage')['wage'])

206     318.342430
1229    318.342430
503     314.329336
1293    311.934569
1112    309.571771
2712    309.571771
2893    299.262977
2925    295.991250
489     284.524741
347     281.745971
Name: wage, dtype: float64

In [35]:
# wage into salary based off 40 hours a week, 52 weeks a year (2080)

df['salary'] = df['wage'] * 2080

print(df.nlargest(10,'salary')['salary'])

206     662152.254518
1229    662152.254518
503     653805.019806
1293    648823.903305
1112    643909.284234
2712    643909.284234
2893    622466.991669
2925    615661.799964
489     591811.461077
347     586031.618748
Name: salary, dtype: float64

In [36]:
# 17: race counts

print(df['race'].value_counts())

race
1. White    2480
2. Black     293
3. Asian     190
4. Other      37
Name: count, dtype: int64

In [37]:
# 18: proportion of each race

print(df['race'].value_counts(normalize=True))

race
1. White    0.826667
2. Black    0.097667
3. Asian    0.063333
4. Other    0.012333
Name: proportion, dtype: float64

In [38]:
# 19: bar plot of regional prop

print(df['region'].value_counts(normalize=True))

region
2. Middle Atlantic    1.0
Name: proportion, dtype: float64

In [ ]:
# only 1 region, no need for bar chart